



<div class="account-management-container">
  <h2 class="account-management-heading" style="text-align: center;">
    Gestion de compte
  </h2>


<br>
<br>

<br>

  <div class="account-management-tabs">
    <button class="account-management-tab active">Profil</button>
    <button class="account-management-tab">Commandes</button>
    <button class="account-management-tab">Paramètres</button>
  </div>
  <div class="account-management-content">
    <div class="account-management-profile">

      <form>
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" id="name" name="name" [(ngModel)]="name" />
        </div>
        <div class="form-group">
          <label for="email">Adresse e-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmer le mot de passe</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            [(ngModel)]="confirmPassword"
          />
        </div>
        <button type="submit" class="btn-rose">Enregistrer</button>
      </form>
    </div>
    <div class="account-management-orders" style="display: none;">
      <p>Aucune commande trouvée.</p>
    </div>
    <div class="account-management-settings" style="display: none;">
      <form>
        <div class="form-group">
          <label for="language">Langue</label>
          <select id="language" name="language" [(ngModel)]="language">
            <option value="fr" selected>Français</option>
            <option value="en">Anglais</option>
          </select>
        </div>

        <button type="submit" class="btn-rose">Enregistrer</button>
      </form>
    </div>
  </div>
</div>


