<!--<div class="content d-flex justify-content-end align-items-start">
  <div>
    <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    <h1 class="mb-5">Just Made For You</h1>
    <a routerLink="menu" class="mb-5">Order Now <i class="bi bi-arrow-right"></i></a>
  </div>

</div>-->
<div class="banner">
  <div class="content">
    <br>
    <br>
    <br>
    <h1 class="mb-5">Just Made For You</h1>
    <a routerLink="menu" class="mb-5">Order Now <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

  <!-- steps  -->
  <div class="container mt-5 mb-5">
    <h1 class="text-center  tt"> Dressed up for a party called <span class="ttt">SUMMER! </span></h1>
    <div class="row mt-5">
      <!-- step one  -->
      <div class="col-lg-4 mt-2">
        <div class="stepBox">
          <h1>1</h1>
          <p>select </p>
        </div>
      </div>
      <!-- step two -->
      <div class="col-lg-4 mt-2">
        <div class="stepBox">
          <h1>2</h1>
          <p>fill the details</p>
        </div>
      </div>
      <!-- step three  -->
      <div class="col-lg-4 mt-2">
        <div class="stepBox">
          <h1>3</h1>
          <p>your order delivered in minute</p>
        </div>
      </div>
    </div>
  </div>

  <!-- food box  -->

