<app-navbar></app-navbar>
<div fxLayout="column" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="text-center">
        <b>Forgot password?</b>
        <h5 class="reset-password-text">That's okay, it happens!
          Click on the button below to reset your password.</h5>
      </mat-card-title>

    </mat-card-header>

    <img src="assets/v.svg" alt="My SVG Image">

    <div class="formGroup" *ngIf="authService.userData as user">
      <p class="text-center">Please check your email and click on the link to verify your email address.</p>
    </div>
    <div class="formGroup">
      <i class="fas fa-envelope input-prefix"></i>
      <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
    </div>
    <div class="formGroup d-flex justify-content-center">
      <button type="button" class="btn btn-lg lady-lips-gradient text-white" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        <i class="bi bi-envelope-plus"></i><span id="tr">Resend verification email</span>
      </button>
    </div>


    <div class="checkbox mb-3 mt-3"></div>

    <span id="h"><b>Ready to sign in?</b>  </span>

    <a class="lady" routerLink="/sign-in"><i class="fas fa-box-arrow-in-right input-prefix"></i> <b>Sign in</b></a>

  </mat-card>
</div>
<app-footer></app-footer>
