img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-top: 20 px;
}
.text-center {
  text-align: center;
}
:root {
  --swal2-confirm-color: #dc3545;
}

#tr {
  display: flex;
justify-content: center;
align-items: center;


}
.lady{
  font-family: Century, arial, sans-serif;
}
#h{font-family: Century, arial, sans-serif;
  font-size: 14px;
margin-left: 10px;}
#texte {
  margin-top: 200px;
  font-size: 40px;
font-family: Century,arial,sans-serif;
}
a {
  color: rgb(214, 90, 110);
margin-left: 10px;
font-size:16px;
margin-bottom:10px;
}

.btn.lady-lips-gradient {
  color: white;
  border: none;
  border-radius: 50px;
  padding:
  15px 80px;
  font-size: 14px;
  font-family: Century,arial,sans-serif;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width:350px;
  margin-top: 20px;
  transition: 0.5s;


}
.lady-lips-gradient { background-image: linear-gradient(to right, #FFABAB 0%, #eec5cc  51%, #FCC8D1  100%);}
.white-background {
  background-color: #fff;
}


.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 40%;
  max-width: 500px;
}

mat-card-header{margin-bottom: 10px;}
.white-background {
  background-color: white;
}
mat-card{width: 30%;}
mat-card-title{
 font-family: Century,arial,sans-serif;
 }
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #ededed;
}
.reset-password-text {
  color: grey;
  font-size: smaller;
  font-family:  Century,arial,sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

.group{display: flex;
   align-items: center;
   margin-right: 10px;
  }
  .input-prefix {
    padding-left: 10px;
  }
input, textarea{
  background: none;
  color: #000000;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
  width:100%;
  }
  input:focus, textarea:focus {
  outline: none;
  }
  input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #e88bbd;
  }
  input:focus ~ .bar:before, textarea:focus ~ .bar:before {
  width: 320px;
  }
  .input-container {
    margin-bottom: 50px;
  }

  .button-container{display: flex;
justify-content: center;
margin-bottom: 30px;}
  .input-container {
    display: flex;
    align-items: center;
  }

.lady-lips-gradient { background-image: linear-gradient(to right, #FFABAB 0%, #eec5cc  51%, #FCC8D1  100%);}
.white-background {
  background-color: #fff;
}
#password{width:100%;}
.login-main{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.line-separator {
  background-color: #000000;
  flex-grow: 5;
  height: 1px;
}
.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
  border-radius: 30px;
}

mat-card{width: 40%;}

.or-container {
align-items: center;
color: #000000;
display: flex;
margin: 25px 0;
}

.btn.lady-lips-gradient {
  color: white;
  border: none;
  border-radius: 50px;
  padding:
  15px 110px;
  font-size: 13px;
  font-family: Century,arial,sans-serif;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width:200px;
  margin-top: 20px;
  transition: 0.5s;
}
.black-underline {
  border-bottom: 1px solid black;
}
.btn lady-lips-gradient:hoover {

    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.btn   btn-google btn-block text-lowercase btn-rounded{
  border: none;
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width:300px;
  margin-bottom: 15px;
  font-family:Century,arial,sans-serif;
}
.btn-google {
  font-family: Century, Arial, sans-serif;
  margin-bottom: 40px;
}
.text-white{ text-align: center;}
#ac{font-family: Century, Arial, sans-serif;

    padding-left: 10px;
  }
#ac b:first-child {
  margin-right: 10px;
}
.formGroup {
  position: relative;
}
.input-prefix {
position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7px; /* adjust as needed */
  color: #000000b9; /* adjust color as needed */
  font-size: 16px; /* adjust size as needed */
}
.formControl {
  padding-left: 30px; /* adjust as needed */
}
