.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;

}

.item img {
  max-width: 75%;
}

.body {
  margin-top: 10px;
}

.body h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.description p {
  margin-top: 5px;
  font-size: 16px;
}

.btn-grad {
  background: linear-gradient(to right, #ff0080, #ff8c00);
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #a72861;
  color: white;
  font-size: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

span {
  font-size: 20px;
  font-weight: bold;
}

.toggle-description {
  font-size: 16px;
  text-decoration: none;
  color: #a72861;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .btn-grad,
  .btn-success {
    font-size: 14px;
    padding: 8px 16px;
  }
  }
