<img src="images/verify.jpg" alt="verify-image" class="rounded mx-auto d-block">
<form>
<h4 class="h3 mb-3 fw-normal text-center">you're one step away</h4>
    <div class="formGroup" *ngIf="authService.userData as user">
      <p class="text-center">
        We have sent a confirmation email to: <strong>{{ user.email }}</strong>.
      </p>
      <p class="text-center">
        Please check your email and click on the link to verify your email address.
      </p>
      <div class="formGroup text-center">
        <button type="button" class="" (click)="authService.SendVerificationMail()">
          <i class="bi bi-envelope-plus"></i>
          Resend verification email
        </button>
      </div>
    </div>
    <div class="checkbox mb-3 mt-3">
    </div>
    <span>Go back to: </span>
    <button class="btn btn-outline-success btn-sm" value="Log in" routerLink="/sign-in"><i
        class="bi bi-box-arrow-in-right"></i> Sign In</button>
  </form>

