.mat-card {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.mat-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-table {
  width: 100%;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

.mat-header-cell, .mat-cell {
  text-align: center;
}


.btn.lady-lips-gradient.lady-lips-gradient {
  background-image: linear-gradient(to right, #FFABAB 0%, #eec5cc  51%, #FCC8D1  100%);
  color: white;
  font-family: Century, arial, sans-serif;
}
